body{
	width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

h1{
	
  font-family: cursive;
   writing-mode: top;
   margin-top: 50px;
   margin-right: 100px;
   
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: ;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #008000, 0 0 40px #008000, 0 0 50px #008000, 0 0 60px #008000, 0 0 70px #008000, 0 0 80px #008000;
  }
}

.button{

   margin-left: -317px;
   margin-top: 550px;


  display : inline-block;
  padding : 15px 25px ;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color : #fff;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999

  

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


